* text=auto

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.py text eol=lf
*.java text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.json text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
Makefile text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ppm binary
*.wav binary
*.exe binary
*.pdb binary
